.text-em-0-1 {
    font-size: 0.1em;
}
.text-em-0-2 {
    font-size: 0.2em;
}
.text-em-0-3 {
    font-size: 0.3em;
}
.text-em-0-4 {
    font-size: 0.4em;
}
.text-em-0-5 {
    font-size: 0.5em;
}
.text-em-0-6 {
    font-size: 0.6em;
}
.text-em-0-7 {
    font-size: 0.7em;
}
.text-em-0-8 {
    font-size: 0.8em;
}
.text-em-0-9 {
    font-size: 0.9em;
}
.text-em-1 {
    font-size: 1em;
}
.text-em-1-1 {
    font-size: 1.1em;
}
.text-em-1-2 {
    font-size: 1.2em;
}
.text-em-1-3 {
    font-size: 1.3em;
}
.text-em-1-4 {
    font-size: 1.4em;
}
.text-em-1-5 {
    font-size: 1.5em;
}
.text-em-1-6 {
    font-size: 1.6em;
}
.text-em-1-7 {
    font-size: 1.7em;
}
.text-em-1-8 {
    font-size: 1.8em;
}
.text-em-1-9 {
    font-size: 1.9em;
}
.text-em-2 {
    font-size: 2em;
}
.text-em-2-1 {
    font-size: 2.1em;
}
.text-em-2-2 {
    font-size: 2.2em;
}
.text-em-2-3 {
    font-size: 2.3em;
}
.text-em-2-4 {
    font-size: 2.4em;
}
.text-em-2-5 {
    font-size: 2.5em;
}
.text-em-3 {
    font-size: 3em;
}
.text-em-4 {
    font-size: 4em;
}
.text-em-5 {
    font-size: 5em;
}
