/* MY CSS METHODOLOGY IS Object-Oriented CSS (OOCSS)
which means instead especify a class such home-to-right, create a more general class such as mv-right.
*/

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    line-height: 1.6;
    font-size: 18px;
    overflow-x: hidden;
    color: var(--mainBlack);
}

* {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
    display: block;
}

figure {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 0px;
    margin-right: 0px;
}

figure img {
    display: block;
}

figcaption {
    background: #fff;
    border-radius: 20px;
    border: 1px solid grey;
    position: absolute;
    padding: 0px 10px;
    color: grey;
    line-height: 10px;
    font: normal 0.9em var(--mainFont);
    bottom: -70px;
    margin: 0 1rem 2rem;
}

@media screen and (min-width: 500px) {
    figcaption {
        bottom: -55px;
        max-width: 100%;
    }
}

hr {
    font-size: 20px;
    width: 250px;
}

hr.lazer {
    margin: 40px 0;
    width: 100%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

hr.lazer-purple {
    margin: 40px 0;
    width: 100%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(74, 20, 140, 0.75),
        rgba(0, 0, 0, 0)
    );
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

button {
    border-width: 2 !important;
    border-style: outset !important;
    border-color: white !important;
}

/* COMMENTS
n1:
solution to fixed footer try next:;
html, body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

resource:
https://codepen.io/vsync/pen/FyluI
;
*/
