/*BEST COLORS GALLERY - HISTORIC*/
:root {
    --mainPink: #e84393;
    --mainDark: #232528;
    --mainRed: #ed213a; /*#ed213a */
    --mainBrown: #795548;
    --mainOrange: #ffb300;
    --expenseRed: #ff4757;
    --lightGrey: #cad3c8;
    --mainGreen: #4cd137;
    --incomeGreen: #2ecc71;
    --mainBlue: #2a2a72;
    --darkBlue: #2c3e50;
    --lightBlue: #009ffd;
    --mainDegrade: linear-gradient(to right, #ed213a, #93291e);
    --mainYellow: #ffee58;
    --niceUiYellow: #fbc531;
    --lightYellow: #ff0;
    --mainPurple: #4a148c;
    --lightPurple: #7c43bd;
    --mainCyan: #00b2cc;
    --mainCyanLight: #00e5ff;
}
