/*TEXT*/
/*palette colors for texts*/
/*primary colors*/
.text-p,
.text-purple {
    color: var(--themeP);
}
.text-p-light {
    color: var(--themePLight);
}
.text-p-dark {
    color: var(--themePDark);
}
/*secondary colors*/
.text-s {
    color: var(--themeS);
}
.text-s-light {
    color: var(--themeSLight);
}
.text-s-dark {
    color: var(--themeSDark);
}
/*"on" colors - texts*/
.text-white {
    color: var(--mainWhite);
}
.text-black {
    color: var(--mainBlack);
}

/* gallery colors */
.text-red {
    color: var(--mainRed);
}

.text-expense-red {
    color: var(--expenseRed);
}

.text-yellow {
    color: var(--mainYellow);
}

.text-pink {
    color: var(--mainPink);
}

.text-blue {
    color: var(--mainBlue);
}

.text-purple {
    color: var(--mainPurple);
}

.text-light-purple {
    color: var(--lightPurple);
}

.text-sys-green {
    color: green;
}

.text-green {
    color: var(--mainGreen);
}

.text-income-green {
    color: var(--incomeGreen);
}

.text-grey,
.text-gray {
    color: grey;
}

.text-light-grey {
    color: var(--lightGrey);
}

.text-cyan {
    color: var(--mainCyan);
}

.text-cyan-light {
    color: var(--mainCyanLight);
}
